.skill__square{display:inline;
    margin:15px 0 !important}

.skill__square i{
    font-size:75px !important;
    color:#777 !important;
    height:20px}

.skill__square h6{text-align:center;
    margin:auto;
    font-size:1em;
    padding-top:5px}

.skill__square i:hover{color:#0275d8 !important}

@media (max-width: 818px) {
    .skill__square i{
        font-size:60px !important;
        color:#777 !important;
        height:20px}
  }

@media (max-width: 450px) {
.skill__square i{
    font-size:45px !important;
    color:#777 !important;
    height:20px}
}