.home-container{
    min-height: 100vh;
    color: white;
}

.home-container-content{
    min-height: 100vh;
    align-content: center !important;
    flex-wrap: wrap !important;
    padding: 1.8rem;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex!important;


}

.text-center{
    text-align: center !important;
    width: 100% !important;
    margin-left: auto;
}

.hand {
    display: inline-block;
    margin: 0.9rem;
    cursor: pointer;
}

.home-container-content h1 {
    font-size: 3.0rem;
    margin-bottom: 30px;
}

.home-container-content p {
    font-size: 1.7rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0,0,0,0.0);
    border: 1px solid rgba(0,0,0,0.0);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.home-hello{
    font-size: 30px;
    font-weight: 400;
    display: contents;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}
@media (max-width: 990px) {
    html,
    body {
      font-size: 13px;
      line-height: normal;
    }
    .mediaHandleP{
        font-size: 23px !important;
    }
  }

  @media (max-width: 770px) {

    .mediaHandleP{
        font-size: 21px !important;
        width: 100% !important;
    }
  }

  @media (max-width: 440px) {

    .home-hello{
        display: block;
    }
  }