.nav-bar{
    background-color: rgba(0,0,0,0.0);
    box-shadow: 0 0px 0px 0px #646464 !important;
}

.nav-bar-link{
    color: white !important;
    font-size: 18px;
}

@media (max-width: 992px){
    .mediaSettings {
        background-color: rgba(0, 123, 255,0.8);
    }
}
