.aboutme-wrapper {
    min-height: 70vh;
}

.changeFlexDir{
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.flexBox{
    flex: 50%;
}

.about-section{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-wrapper div {
    height: 100%;
}

.about-container-content{
    padding: 1.8rem;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imageHandle{
    width: 370px !important;
    height: 370px !important;
}

.image-section{
    align-items: center;
    justify-content: center;
    display: flex;
}

.image-section img{
    background:rgb(0, 123, 255,0.3)
}

.about-container-content h1 {
    font-size: 3.0rem;
    margin-bottom: 30px;
}

.about-container-content p {
    font-size: 1.5rem;
}


a.left
{
    text-decoration: none;
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
  }

@media (max-width: 1000px) {

    .changeFlexDir{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .imageHandle{
        width: 267px !important;
        height: 267px !important;
    }
  }